.abonements {
  background-color: #f8f9fc;
}

.abonements__title {
  text-align: center;
  font-family: $alumni-sans-font;
  font-size: 32px;
  line-height: 38px;
  font-weight: 600;
  margin: 0;
  margin-bottom: 16px;
}

@media screen and (max-width: 767px) {
  .abonements {
    padding-bottom: 1510px;
    padding-top: 63px;
  }
}

@media screen and (min-width: $vp-768) {
  .abonements__container {
    position: relative;
    width: 768px;
    margin: 0 auto;
  }

  .abonements__title {
    font-size: 42px;
    line-height: 50px;
    margin-bottom: 15px;
  }

  .abonements__decoration-wrapper {
    background-image: url("../img/main/abonements-decor1x.webp");
    width: 302px;
    height: 345px;
    background-size: 344px auto;
    background-position: -42px -37px;
    background-repeat: no-repeat;
    position: absolute;
    top: 1681px;
    left: 465px;
  }

  @media screen and (min-resolution: 2dppx){
    .abonements__decoration-wrapper {
      background-image: url("../img/main/abonements-decor2x.webp");
    }
  };
}

@media screen and (min-width: $vp-768) and (max-width: 1199px) {
  .abonements {
    padding-bottom: 1839px;
    padding-top: 63px;
  }
}

@media screen and (min-width: $vp-1200) {

  .abonements {
    padding-top: 120px;
    padding-bottom: 690px;
  }

  .abonements__container {
    width: 1160px;
  }

  .abonements__title {
    font-size: 54px;
    line-height: 65px;
  }

  .abonements__decoration-wrapper {
    width: 265px;
    height: 400px;
    background-size: 379px auto;
    background-position: -19px -6px;
    background-repeat: no-repeat;
    position: absolute;
    top: 496px;
    left: 998px;
  }
}
