@media screen and (min-width: $vp-1200) {
  .footer {
    background-color: #030a1a;
  }

  .footer__container {
    width: 1160px;
    margin: 0 auto;
    margin-top: 41px;
    margin-bottom: 33px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .footer__nav-link {
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;

    &:focus {
      outline: none;
    }
  }

  .footer__nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    &:nth-child(odd) {
      margin-right: 44px;
    }
  }

  .footer__nav {
    display: flex;
    flex-direction: row;
  }


  .footer__logo {
    font-size: 26px;
    line-height: 32px;
    font-weight: 600;
    font-family: $alumni-sans-font;
    font-style: normal;
    color: #ffffff;
    margin-right: 242px;
  }

  .footer__nav-list-item--one-view {
    margin-right: 284px;
    margin-top: 2px;
  }

  .footer__nav-list-item:not(:last-child) {
    margin-right: 40px;
  }

  .footer__social-link:hover {
    background-color: #103aae;
  }

  .footer__social-link:focus-visible {
    background-color: #103aae;
  }

  .footer__social-link:active {
    background-color: $base-color;
  }

  .footer__social-link:focus {
    outline: none;
  }

  .footer__nav-list-item {
    position: relative;
  }

  .footer__nav-link--two-view {
    &:focus {
      outline: none;
    }

    &:hover::after {
      content: "";
      width: 40px;
      height: 1px;
      background-color: #ffffff;
      position: absolute;
      top: 25px;
      left: 0;
    }

    &:focus-visible::after {
      content: "";
      width: 60px;
      height: 32px;
      border: 1px solid #ffffff;
      position: absolute;
      top: -4px;
      left: -11px;
      background: none;
    }
  }

  .footer__nav-link--three-view {
    &:focus {
      outline: none;
    }

    &:hover::after {
      content: "";
      width: 72px;
      height: 1px;
      background-color: #ffffff;
      position: absolute;
      top: 25px;
      left: 0;
    }

    &:focus-visible::after {
      content: "";
      width: 85px;
      height: 32px;
      border: 1px solid #ffffff;
      position: absolute;
      top: -4px;
      left: -8px;
      background: none;
    }
  }

  .footer__nav-link--four-view {
    &:focus {
      outline: none;
    }


    &:hover::after {
      content: "";
      width: 35px;
      height: 1px;
      background-color: #ffffff;
      position: absolute;
      top: 25px;
      left: 0;
    }

    &:focus-visible::after {
      content: "";
      width: 47px;
      height: 32px;
      border: 1px solid #ffffff;
      position: absolute;
      top: -4px;
      left: -8px;
      background: none;
    }
  }

  .footer__nav-link--five-view {
    &:focus {
      outline: none;
    }

    &:hover::after {
      content: "";
      width: 48px;
      height: 1px;
      background-color: #ffffff;
      position: absolute;
      top: 25px;
      left: 0;
    }

    &:focus-visible::after {
      content: "";
      width: 63px;
      height: 32px;
      border: 1px solid #ffffff;
      position: absolute;
      top: -4px;
      left: -8px;
      background: none;
    }
  }

  .footer__nav-link--six-view {
    &:focus {
      outline: none;
    }

    &:hover::after {
      content: "";
      width: 68px;
      height: 1px;
      background-color: #ffffff;
      position: absolute;
      top: 25px;
      left: 0;
    }

    &:focus-visible::after {
      content: "";
      width: 79px;
      height: 32px;
      border: 1px solid #ffffff;
      position: absolute;
      top: -4px;
      left: -8px;
      background: none;
    }
  }

  .footer__social-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 97px;
  }

  .footer__social-link {
    width: 25px;
    height: 25px;
    background-color: #ffffff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}


@media screen and (min-width: $vp-768) and (max-width: 1199px) {
  .footer {
    background-color: #030a1a;
  }

  .footer__container {
    width: 678px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 45px;
    margin-bottom: 43px;
  }

  .footer__nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    &:nth-child(odd) {
      margin-right: 30px;
    }
  }

  .footer__nav {
    display: flex;
    flex-direction: row;
  }

  .footer__nav-list-item:not(:last-child) {
    margin-right: 31px;
  }

  .footer__nav-link {
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;
  }

  .footer__logo {
    font-size: 24px;
    line-height: 23px;
    font-weight: 700;
    font-family: $alumni-sans-font;
    font-style: normal;
    color: #ffffff;
    margin-right: 37px;
  }

  .footer__nav-list-item--one-view {
    margin-right: 69px;
    margin-top: -2px;
  }

  .footer__social-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 97px;
  }

  .footer__social-link {
    width: 25px;
    height: 25px;
    background-color: #ffffff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (min-width: 769px) and (max-width: 1199px) {
  .footer__container {
    width: 90%;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    background-color: #030a1a;
  }

  .footer__container {
    width: 290px;
    margin: 0 auto;
  }

  .footer__nav-link {
    line-height: 19px;
    color: #ffffff;
  }

  .footer__logo {
    font-family: $alumni-sans-font;
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    font-style: normal;
    color: #ffffff;
    position: absolute;
  }

  .footer__social-link {
    width: 25px;
    height: 25px;
    background-color: #ffffff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .footer__social-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 97px;
  }

  .footer__nav-list--column-one-view {
    margin-top: 39px;
  }
}

@media screen and (max-width: 767px) {
  .footer__nav-list {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    flex-wrap: wrap;
  }

  .footer__container {
    margin-top: 45px;
    margin-bottom: 51px;
    position: relative;
  }

  .footer__social-list {
    margin-top: 33px;
  }

  .footer__nav {
    display: flex;
    flex-direction: row;
    column-gap: 78px;
  }
}

@media screen and (min-width: 321px) and (max-width: 767px) {
  .footer__container {
    width: 90%;
  }

  .footer__nav {
    width: 100%;
    justify-content: space-between;
  }

  .footer__nav-list {
    &:not(:first-child) {
      margin-right: 60px;
    }
  }
}
