.header {
  background:$base-gradient;
}

.header__container {
  width: 290px;
  margin: 0 auto;
  margin-top: 15px;
}

.header__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hero-block__image {
  object-fit: cover;
}

.header__logo {
  font-family: $alumni-sans-font;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  font-style: normal;
  color: #ffffff;
}

.header__tel {
  font-family: $alumni-sans-font;
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  font-style: normal;
  color: #ffffff;
}

.header__button {
  font-size: 12px;
  line-height: 14px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  padding: 22px 87px;
}

.header__button-wrapper {
  width: 282px;
  height: 51px;
  border: 4px solid #ffffff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 80px;
}

.header__button-wrapper:active {
  background: #ffffff;
  .header__button {
    color: $base-color;
  }
}

@media screen and (max-width: 767px){
  .hero-block__image {
    display: none
  }
};

@media screen and (min-width: $vp-768){
  .header__container {
    width: 678px;
    margin: 0 auto;
    margin-top: 40px;
    position: relative;
  }

  .header__logo {
    font-size: 24px;
    line-height: 29px;
  }

  .header__tel {
    font-size: 24px;
    line-height: 29px;
    font-weight: 700;
  }

  .header__button {
    padding: 19px 34px;
  }

  .header__button-wrapper {
    width: 175px;
    height: 49px;
    position: absolute;
    left: 140px;
    bottom: 18px;
  }
};

@media screen and (min-width: $vp-1200){
  .header__container {
    width: 1160px;
    margin: 0 auto;
    margin-top: 30px;
  }

  .header__logo {
    font-size: 36px;
    line-height: 44px;
    font-weight: 600;
  }

  .header__tel {
    font-size: 26px;
    line-height: 32px;
    font-weight: 600;
  }

  .header__button-wrapper:hover {
    background: #ffffff;
  }

  .header__button-wrapper:hover .header__button {
    color: #103aae;
  }

  .header__button-wrapper:active .header__button {
    color: $base-color;
  }

  .header__button {
    padding: 20px 57px;
  }

  .header__button-wrapper {
    width: 222px;
    left: 186px;
    bottom: 35px;
  }
};
