.hero-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 72px;
  position: relative;
}

.hero-block__services-list {
  position: absolute;
  left: 1px;
  bottom: 56px;
}

.hero-block__services-item {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
  text-align: right;
}

.hero-block__badge {
  font-family: $alumni-sans-font;
  font-size: 28px;
  line-height: 34px;
  font-weight: 600;
  font-style: normal;
  color: #ffffff;
  text-transform: uppercase;
  margin-left: 239px;
}

.hero-block__title {
  font-family: $alumni-sans-font;
  font-size: 75px;
  line-height: 87px;
  font-weight: 700;
  font-style: normal;
  color: #ffffff;
  text-align: right;
  margin: 10px 6px 23px 0;
}

@media screen and (min-width: $vp-768) {
  .hero-block__badge {
    font-size: 34px;
    line-height: 41px;
  }

  .hero-block {
    margin-top: 25px;
  }

  .hero-block__title {
    margin: 0 30px 0 1px;

  }

  .hero-block__badge {
    margin-left: 262px;
  }

  .hero-block__title-wrapper {
    margin-top: 53px;
    margin-bottom: 195px;
  }

  .hero-block__services-list {
    bottom: 218px;
  }
}

@media screen and (min-width: $vp-1200) {
  .hero-block__badge {
    font-size: 48px;
    line-height: 58px;
    margin-left: 287px;
  }

  .hero-block__title {
    font-size: 92px;
    line-height: 111px;
    margin-right: 64px;
    text-transform: uppercase;
  }

  .hero-block__image {
    margin-top: -47px;
  }

  .hero-block {
    width: 978px;
    justify-content: flex-start;
  }

  .hero-block__title-wrapper {
    margin-top: 60px;
    margin-bottom: 221px;
  }

  .hero-block__services-list {
    left: 69px;
    bottom: 259px;
  }
}
