.hero-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 95px;
  position: relative;
}

.hero-block__services-list {
  position: absolute;
  left: 4px;
  bottom: 68px;
}

.hero-block__services-item {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  text-align: right;
}

.hero-block__badge {
  font-family: $alumni-sans-font;
  font-size: 28px;
  line-height: 34px;
  font-weight: 600;
  font-style: normal;
  color: #ffffff;
  text-transform: uppercase;
  margin-left: 231px;
}

.hero-block__title {
  font-family: $alumni-sans-font;
  font-size: 72px;
  line-height: 87px;
  font-weight: 700;
  font-style: normal;
  color: #ffffff;
  text-align: right;
  margin: 0;
  margin-right: 8px;
  margin-bottom: 35px;
}

.header__button {
  font-size: 12px;
  line-height: 14px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  padding: 22px 87px;
}

.header__button-wrapper {
  width: 282px;
  height: 51px;
  border: 4px solid #ffffff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 80px;
}

@media screen and (min-width: $vp-768) {
  .hero-block__badge {
    font-size: 34px;
    line-height: 41px;
  }

  .header__button {
    padding: 19px 34px;
  }

  .hero-block {
    margin-top: 25px;
  }

  .hero-block__title {
    margin: 0 30px 0 1px;

  }

  .hero-block__badge {
    margin-left: 262px;
  }

  .hero-block__title-wrapper {
    margin-top: 53px;
    margin-bottom: 195px;
  }

  .hero-block__services-list {
    bottom: 218px;
  }

  .header__button-wrapper {
    width: 175px;
    height: 49px;
    position: absolute;
    left: 140px;
    bottom: 18px;
  }
}

@media screen and (min-width: $vp-1200) {
  .hero-block__badge {
    font-size: 48px;
    line-height: 58px;
    margin-left: 287px;
  }

  .hero-block__title {
    font-size: 92px;
    line-height: 111px;
    margin-right: 64px;
    text-transform: uppercase;
  }

  .hero-block__image {
    margin-top: -47px;
  }

  .header__button-wrapper:hover {
    background: #ffffff;
  }

  .header__button-wrapper:hover .header__button {
    color: #103aae;
  }

  .header__button-wrapper:active .header__button {
    color: $base-color;
  }

  .header__button {
    padding: 20px 57px;
  }

  .header__button-wrapper {
    width: 222px;
    left: 186px;
    bottom: -20px;
  }

  .hero-block {
    width: 978px;
    justify-content: flex-start;
  }

  .hero-block__title-wrapper {
    margin-top: 60px;
    margin-bottom: 221px;
  }

  .hero-block__services-list {
    left: 69px;
    bottom: 259px;
  }
}
