.reviews {
  width: 320px;
  margin: 0 auto;
  margin-bottom: 70px;
}

.reviews__container-for-position-toggle {
  position: relative;
  width: 100%;
}

.reviews__title {
  font-family: $alumni-sans-font;
  font-size: 32px;
  font-weight: 600;
  text-align: center;
  margin: 0;
  margin-bottom: 48px;
}

.reviews__slider-button {
  padding:0;
  margin:0;
  border:0;
  border-radius:50%;
  width: 35px;
  height: 34px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}

.reviews__slider-button-prev,
.reviews__slider-button-next {
  stroke: #102654;
}

.reviews__slider-button--prev {
  position: absolute;
  top: 222px;
  left: 2px;
}

.reviews__slider-button--next {
  position: absolute;
  top: 222px;
  right: 2px;
}

.reviews__slide-user-image {
  background-image: url("../img/main/reviews-user-image1x.webp");
  width: 68px;
  height: 68px;
  background-size: 68px auto;
  background-repeat: no-repeat;
  border-radius: 50%;
  margin-right: 15px;
}

@media screen and (min-resolution: 2dppx){
  .reviews__slide-user-image {
    background-image: url("../img/main/reviews-user-image2x.webp");
  }
}

.reviews__slide-user-name {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: left;
  color: #ffffff;
}

.reviews__slide-user-review-text {
  line-height: 22px;
  font-weight: 400;
  text-align: center;
  margin: 0;
  color: #ffffff;
  padding-left: 22px;
  padding-right: 22px;
}

.reviews__slide {
  width: 176px;
  background-color: #1c3374;
  margin: 0 auto;
  padding: 40px 0px 34px 0px;
}

.reviews__slide-user-name-wrapper {
  display: flex;
  flex-direction: column;
}

.reviews__slide-user-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 17px;
}

.reviews__slider-container {
  width: 226px;
}

.reviews__slide-container {
  display: flex;
  flex-direction: row;
}

@media screen and (min-width: $vp-768) {
  .reviews__slider-button {
    width: 47px;
    height: 47px;
  }

  .reviews__slider-button-prev,
  .reviews__slider-button-next {
    width: 16px;
    height: 32px;
  }

  .reviews {
    width: 678px;
    margin: 0 auto;
    margin-bottom: 100px;
  }

  .reviews__title {
    font-size: 44px;
    margin-bottom: 54px;
  }

  .reviews__slide-user-image {
    width: 80px;
    height: 80px;
    background-size: 80px auto;
    margin-right: 0;
    position: absolute;
    top: 7px;
    left: 66px;
  }

  .reviews__slide-user-name {
    line-height: 30px;

    &:not(:last-child) {
      margin-right: 5px;
    }
  }

  .reviews__slide {
    width: 328px;
    padding: 56px 0px 56px 0px;
  }

  .reviews__slide-user-review-text {
    text-align: left;
    padding-left: 0px;
    padding-left: 173px;
    padding-right: 62px;
  }

  .reviews__slide-user-name-wrapper {
    flex-direction: row;
    justify-content: flex-start;
  }

  .reviews__slide-user-container {
    justify-content: flex-start;
    margin-bottom: 12px;
    position: relative;
    padding-left: 173px;
  }

  .reviews__slider-container {
    width: 566px;
  }

  .reviews__slider-button--prev {
    top: 175px;
    left: -16px;
  }

  .reviews__slider-button--next {
    top: 175px;
    right: -16px;
  }

}

@media screen and (min-width: $vp-1200) {
  .reviews__slider-button {
    width: 56px;
    height: 56px;

    &:hover {
      border: 1px solid #102654;
    }

    &:active {
      background-color: #102654;
    .reviews__slider-button-prev,
    .reviews__slider-button-next {
      stroke: #ffffff;
}
    }
  }

  .reviews {
    margin-bottom: 120px;
  }

  .reviews__title {
    font-size: 57px;
    margin-bottom: 58px;
  }

}
