@media screen and (min-width: $vp-1200) {
  .reviews__slider-button {
    width: 56px;
    height: 56px;
    padding: 0;
    margin: 0;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;

    &:hover {
      border: 1px solid #102654;
    }

    &:focus {
      outline: none;
    }

    &:focus-visible {
      border: 1px solid #102654;
    }

    &:active {
      background-color: #102654;

      .reviews__slider-button-prev,
      .reviews__slider-button-next {
        stroke: #ffffff;
      }
    }
  }

  .reviews {
    width: 678px;
    margin: 0 auto;
    margin-bottom: 120px;
  }

  .reviews__title {
    margin: 0;
    font-size: 57px;
    margin-bottom: 58px;
    font-family: $alumni-sans-font;
    font-weight: 600;
    text-align: center;
  }

  .reviews__container-for-position-toggle {
    position: relative;
    width: 100%;
  }

  .reviews__slider-button--prev {
    position: absolute;
    top: 175px;
    left: -16px;
  }

  .reviews__slider-button--next {
    position: absolute;
    top: 175px;
    right: -16px;
  }

  .reviews__slider-button-prev,
  .reviews__slider-button-next {
    width: 16px;
    height: 32px;
    stroke: #102654;
  }

  .reviews__slider-container {
    width: 566px;
  }

  .reviews__slide-container {
    display: flex;
    flex-direction: row;
  }

  .reviews__slide {
    width: 328px;
    padding: 57px 0 55px 0;
    background-color: #1c3374;
    margin: 0 auto;
  }

  .reviews__slide-user-container {
    justify-content: flex-start;
    margin-bottom: 12px;
    position: relative;
    padding-left: 173px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .reviews__slide-user-image img {
    border-radius: 50%;
    margin-right: 0;
    position: absolute;
    top: 8px;
    left: 24px;
    width: 80px;
    height: 80px;
    margin-left: 42px;
    background-color: #4b4a43;
  }

  .reviews__slide-user-name {
    line-height: 30px;
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    color: #ffffff;

    &:not(:last-child) {
      margin-right: 5px;
    }
  }

  .reviews__slide-user-review-text {
    text-align: left;
    padding-left: 173px;
    padding-right: 62px;
    line-height: 22px;
    font-weight: 400;
    margin: 0;
    color: #ffffff;
  }
}

@media screen and (min-width: $vp-768) and (max-width: 1199px) {
  .reviews__slider-button {
    width: 47px;
    height: 47px;
    padding: 0;
    margin: 0;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
  }

  .reviews__slider-button-prev,
  .reviews__slider-button-next {
    width: 16px;
    height: 32px;
    stroke: #102654;
  }

  .reviews {
    width: 678px;
    margin: 0 auto;
    margin-bottom: 100px;
  }

  .reviews__title {
    margin: 0;
    font-size: 44px;
    margin-bottom: 54px;
    font-family: $alumni-sans-font;
    font-weight: 600;
    text-align: center;
  }

  .reviews__slide-user-image img {
    border-radius: 50%;
    margin-right: 0;
    position: absolute;
    top: 8px;
    left: 24px;
    width: 80px;
    height: 80px;
    margin-left: 42px;
    background-color: #4b4a43;
  }

  .reviews__slide-user-name {
    line-height: 30px;
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    color: #ffffff;

    &:not(:last-child) {
      margin-right: 5px;
    }
  }

  .reviews__slide {
    width: 328px;
    padding: 57px 0 57px 0;
    background-color: #1c3374;
    margin: 0 auto;
  }

  .reviews__slide-user-review-text {
    text-align: left;
    padding-left: 173px;
    padding-right: 62px;
    line-height: 22px;
    font-weight: 400;
    margin: 0;
    color: #ffffff;
  }

  .reviews__slide-user-container {
    justify-content: flex-start;
    margin-bottom: 12px;
    position: relative;
    padding-left: 173px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .reviews__slider-container {
    width: 566px;
  }

  .reviews__slider-button--prev {
    position: absolute;
    top: 175px;
    left: -16px;
  }

  .reviews__slider-button--next {
    position: absolute;
    top: 175px;
    right: -16px;
  }

  .reviews__container-for-position-toggle {
    position: relative;
    width: 100%;
  }

  .reviews__slide-container {
    display: flex;
    flex-direction: row;
  }
}

@media screen and (max-width: 767px) {
  .reviews {
    width: 320px;
    margin: 0 auto;
    margin-bottom: 70px;
  }

  .reviews__container-for-position-toggle {
    position: relative;
    width: 100%;
  }

  .reviews__title {
    font-family: $alumni-sans-font;
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    margin: 0;
    margin-bottom: 48px;
  }

  .reviews__slider-button {
    padding: 0;
    margin: 0;
    border: 0;
    border-radius: 50%;
    width: 35px;
    height: 34px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
  }

  .reviews__slider-button-prev,
  .reviews__slider-button-next {
    stroke: #102654;
  }

  .reviews__slider-button--prev {
    position: absolute;
    top: 222px;
    left: 2px;
  }

  .reviews__slider-button--next {
    position: absolute;
    top: 222px;
    right: 2px;
  }

  .reviews__slide-user-image img {
    border-radius: 50%;
    margin-right: 14px;
    margin-left: 42px;
    width: 68px;
    height: 68px;
    background-color: #4b4a43;
  }

  .reviews__slide-user-name {
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    text-align: left;
    color: #ffffff;
  }

  .reviews__slide-user-review-text {
    line-height: 22px;
    font-weight: 400;
    text-align: center;
    margin: 0;
    color: #ffffff;
    padding-left: 22px;
    padding-right: 22px;
  }

  .reviews__slide {
    width: 176px;
    background-color: #1c3374;
    margin: 0 auto;
    padding: 39px 0 35px 0;
  }

  .reviews__slide-user-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }

  .reviews__slider-container {
    width: 226px;
  }

  .reviews__slide-container {
    display: flex;
    flex-direction: row;
  }
}
