@media screen and (min-width: $vp-1200) {
  .super-games {
    width: 1160px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 106px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .super-games__background-image {
    width: 661px;
    height: 500px;
    background-size: 660px auto;
    background-image: url("../img/main/super-games-background-image1x.webp");
    background-repeat: no-repeat;
    background-color: #090a6b;
  }

  @media screen and (min-resolution: 2dppx) {
    .super-games__background-image {
      background-image: url("../img/main/super-games-background-image2x.webp");
    }
  }

  .super-games__title {
    font-size: 82px;
    line-height: 79px;
    padding-right: 0;
    letter-spacing: 2px;
    font-family: $alumni-sans-font;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    margin: 0;
    padding-left: 10px;
  }

  .super-games__data-key,
  .super-games__time-key,
  .super-games__content-badge {
    font-size: 18px;
    line-height: 23px;
    font-weight: 400;
    color: #ffffff;
    margin-bottom: -2px;
  }

  .super-games__content-badge {
    margin-right: 66px;
    text-align: center;
  }

  .super-games__data-value,
  .super-games__time-value {
    font-size: 40px;
    line-height: 60px;
    font-weight: 700;
    color: #ffffff;
  }

  .super-games__data-value {
    margin-right: 4px;
  }

  .super-games__data-value-object {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #ffffff;
    text-align: left;
  }

  .super-games__button {
    font-size: 13px;
    line-height: 14px;
    padding: 17px 107px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
  }

  .super-games__button-wrapper {
    width: 339px;
    height: 64px;
    margin: 30px auto 0;
    border: 2px solid #ffffff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .super-games__data-value-object-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 9px;
    position: relative;

    &::after {
      content: "";
      width: 64px;
      height: 1px;
      background-color: #ffffff;
      position: absolute;
      left: -27px;
      top: -5px;
    }
  }

  .super-games__content {
    padding: 85px 75px 87px 78px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ed0233;
  }

  .super-games__time-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;

    &::after {
      content: "";
      height: 1px;
      background-color: #ffffff;
      position: absolute;
      width: 88px;
      left: 1px;
      top: 30px;
    }
  }

  .super-games__data-wrapper {
    margin-bottom: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .super-games__data-time {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .super-games__data-value-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1365px) {
  .super-games {
    width: 85%;
    justify-content: center;
  }

  .super-games__content {
    width: 53%;
  }

  .super-games__background-image {
    width: 100%;
    background-position: center center;
    background-size: cover;
  }

  .super-games__content-badge {
    text-align: center;
    margin-right: auto;
  }

  .super-games__button-wrapper {
    width: 98%;
    margin: 0 auto;
    margin-top: 28px;
  }

  .super-games__button {
    padding: 0;
  }
}

@media screen and (min-width: $vp-768) and (max-width: 1199px) {
  .super-games {
    width: 678px;
    margin: 0 auto;
    margin-top: 11px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .super-games__background-image {
    width: 386px;
    height: 293px;
    background-size: 386px auto;
    background-image: url("../img/main/super-games-background-image1x.webp");
    background-repeat: no-repeat;
    background-color: #090a6b;
  }

  @media screen and (min-resolution: 2dppx) {
    .super-games__background-image {
      background-image: url("../img/main/super-games-background-image2x.webp");
    }
  }

  .super-games__content {
    padding: 50px 43px 50px 43px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ed0233;
  }

  .super-games__data-time {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .super-games__title {
    font-family: $alumni-sans-font;
    font-size: 48px;
    line-height: 46px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    margin: 0;
    padding-right: 40px;
    padding-left: 11px;
  }

  .super-games__data-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .super-games__data-key,
  .super-games__time-key,
  .super-games__content-badge {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #ffffff;
    margin-bottom: -2px;
  }

  .super-games__content-badge {
    text-align: left;
  }

  .super-games__data-value-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .super-games__data-value,
  .super-games__time-value {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #ffffff;
  }

  .super-games__data-value-object-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 2px;
    position: relative;

    &::after {
      content: "";
      width: 42px;
      height: 1px;
      background-color: #ffffff;
      position: absolute;
      left: -15px;
      top: -1px;
    }
  }

  .super-games__time-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;

    &::after {
      content: "";
      width: 56px;
      height: 1px;
      background-color: #ffffff;
      position: absolute;
      left: 0;
      top: 20px;
    }
  }

  .super-games__data-value-object {
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;
    color: #ffffff;
    text-align: left;
  }

  .super-games__button-wrapper {
    width: 202px;
    height: 39px;
    border: 2px solid #ffffff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 28px 0 0;
  }

  .super-games__button {
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;
    color: #ffffff;
    padding: 13px 56px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1199px) {
  .super-games {
    width: 88%;
    justify-content: center;
  }

  .super-games__content {
    width: 53%;
  }

  .super-games__background-image {
    width: 100%;
    background-position: center center;
    background-size: cover;
  }

  .super-games__data-time {
    width: 202px;
    margin: 0 auto;
  }

  .super-games__content-badge {
    text-align: center;
  }

  .super-games__button-wrapper {
    width: 98%;
    margin: 0 auto;
    margin-top: 28px;
  }
}

@media screen and (max-width: 767px) {
  .super-games {
    width: 290px;
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 63px;
  }

  .super-games__title {
    font-family: $alumni-sans-font;
    font-size: 48px;
    line-height: 46px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    margin: 0;
    padding-right: 32px;
    padding-left: 9px;
  }

  .super-games__data-key,
  .super-games__time-key,
  .super-games__content-badge {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #ffffff;
    margin-bottom: -2px;
  }

  .super-games__content-badge {
    text-align: center;
    margin-left: -12px;
  }

  .super-games__data-value,
  .super-games__time-value {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #ffffff;
  }

  .super-games__data-value {
    margin-right: 3px;
  }

  .super-games__data-value-object {
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;
    color: #ffffff;
    text-align: left;
  }

  .super-games__button {
    font-weight: 700;
    font-size: 9px;
    line-height: 12px;
    text-transform: uppercase;
    color: #ffffff;
    padding: 13px 50px;
    letter-spacing: 1px;
  }

  .super-games__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ed0233;
    padding: 50px 44px 50px 44px;
  }

  .super-games__button-wrapper {
    width: 202px;
    height: 39px;
    border: 2px solid #ffffff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px auto 0;
    flex-wrap: wrap;
  }

  .super-games__background-image {
    background-image: url("../img/main/super-games-background-image1x.webp");
    width: 290px;
    height: 292px;
    background-repeat: no-repeat;
    background-color: #090a6b;
    background-size: 429px 335px;
    background-position: -64px 0;
  }

  @media screen and (min-resolution: 2dppx) {
    .super-games__background-image {
      background-image: url("../img/main/super-games-background-image2x.webp");
    }
  }

  .super-games__data-value-object-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 2px;
    position: relative;

    &::after {
      content: "";
      width: 42px;
      height: 1px;
      background-color: #ffffff;
      position: absolute;
      left: -15px;
      top: -1px;
    }
  }

  .super-games__data-value-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .super-games__data-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .super-games__time-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;

    &::after {
      content: "";
      width: 56px;
      height: 1px;
      background-color: #ffffff;
      position: absolute;
      left: 0;
      top: 20px;
    }
  }

  .super-games__data-time {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media screen and (min-width: 321px) and (max-width: 767px) {
  .super-games {
    width: 90%;
  }

  .super-games__data-time {
    width: 202px;
    margin: 0 auto;
  }

  .super-games__button-wrapper {
    width: 100%;
  }

  .super-games__background-image {
    width: 100%;
    background-position: center center;
    background-size: cover;
  }
}
