.tabs__controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;

  &::before {
    content: "";
    width: 290px;
    height: 2px;
    position: absolute;
    background: #787878;
    left: 0;
    top: 46px;
    opacity: 0.5;
  }
}

.tabs__control {
  color: $base-color;
  background-color: inherit;
  font-family: $base-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  border: none;
  cursor: pointer;
  padding: 11px 2px 20px;
  opacity: 0.3;

  &.is-active {
    opacity: 1;
    pointer-events: none;
  }
}

.tabs__control:not(:last-child) {
  margin-right: 37px;
}

.tabs__element-item {
  background: #ffffff;
  text-align: center;
  width: 290px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-top: 33px;

  &:hover::after {
    content: "";
    position: absolute;
    width: 272px;
    height: 368px;
    border: 7px solid;
    border-image: linear-gradient(120deg, #ED0233 0%, #003EB7 100%) 1;
    background: none;
  }

  &:hover .tabs__element-item-button-wrapper {
    background: linear-gradient(151deg, #ED0233 0%, #003EB7 100%);
    border: none;
    width: 205px;
    height: 64px;
  }

  &:hover .tabs__element-item-button {
    color: #ffffff;
  }
}

.tabs__element-list-current-wrapper {
  text-align: center;
  width: 290px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.tabs__element-item-title {
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
  margin: 0;
  margin-top: 50px;
}

.tabs__element-item-info {
  font-weight: 400;
  margin-top: 9px;
}

.tabs__element-item-decoration-price {
  font-size: 80px;
  line-height: 120px;
  font-weight: 700;
  color: #e8e8e8;
  opacity: 0.5;
  position: absolute;
  top: 115px;
  left: 67px;
}

.tabs__element-item-decoration-price--position-left {
  left: 44px;
}

.tabs__element-item-price-wrapper {
  margin: 0;
  margin-top: 54px;
  z-index: 1;
  position: relative;
}

.tabs__element-list--current {
  &::after {
    content: "";
    width: 59px;
    height: 2px;
    position: absolute;
    background: #d10a42;
    left: 1px;
    top: -9px;
  }
}

.tabs__element-list--current-two {
  &::after {
    content: "";
    width: 75px;
    height: 2px;
    position: absolute;
    background: #d10a42;
    left: 97px;
    top: -9px;
  }
}

.tabs__element-list--current-three {
  &::after {
    content: "";
    width: 81px;
    height: 2px;
    position: absolute;
    background: #d10a42;
    left: 209px;
    top: -9px;
  }
}

.tabs__element-item-price {
  font-size: 48px;
  line-height: 72px;
  font-weight: 700;
  color: #103aae;
  margin-right: 5px;
}

.tabs__element-item-button {
  font-size: 13px;
  line-height: 14px;
  font-weight: 700;
  color: $base-color;
  text-transform: uppercase;
  padding: 19px 41px;
}

.tabs__element-item-button-wrapper {
  width: 198px;
  height: 56px;
  border: 4px solid #102654;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 55px;
  z-index: 1;
}

.tabs {
  width: 290px;
  margin: 0 auto;
}

@media screen and (min-width: $vp-768) {

  .tabs {
    width: 442px;
    margin: 0 auto;
  }

  .tabs__controls {
    &::before {
      content: "";
      width: 332px;
      left: 56px;
    }
  }

  .tabs__control {
    font-size: 18px;
    line-height: 27px;
  }

  .tabs__control:not(:last-child) {
    margin-right: 48px;
  }

  .tabs__element-item {
    margin-top: 38px;
    width: 442px;

    &:hover::after {
      width: 429px;
      height: 435px;
    }
  }

  .tabs__element-item-title {
    font-size: 26px;
    line-height: 40px;
    margin: 56px 0 0;
  }

  .tabs__element-item-info {
    margin-top: 6px;
  }

  .tabs__element-item-price-wrapper {
    margin-top: 64px;
  }

  .tabs__element-item-button-wrapper {
    margin-top: 36px;
    margin-bottom: 68px;
  }

  .tabs__element-item-decoration-price {
    font-size: 100px;
    line-height: 150px;
    top: 135px;
    left: 120px;
  }

  .tabs__element-item-decoration-price--current {
    left: 122px;
  }

  .tabs__element-item-decoration-price--position-left {
    left: 98px;
  }

  .tabs__element-item-decoration-price--current-left {
    left: 93px;
  }

  .tabs__element-item-price {
    font-size: 60px;
    line-height: 90px;
  }

  .tabs__element-item-price-sign {
    width: 30px;
    height: 42px;
  }

  .tabs__element-list--current {
    &::after {
      width: 62px;
      left: 56px;
      top: -12px;
    }
  }

  .tabs__element-list--current-two {
    &::after {
      width: 84px;
      left: 166px;
      top: -12px;
    }
  }

  .tabs__element-list--current-three {
    &::after {
      width: 88px;
      left: 300px;
      top: -12px;
    }
  }
}

@media screen and (min-width: $vp-1200) {
  .tabs {
    width: 1160px;
    margin: 0 auto;
  }

  .tabs__element-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .tabs__element-item {
    margin-top: 30px;
    width: 360px;

    &:hover::after {
      content: "";
      position: absolute;
      width: 347px;
      height: 434px;
      border: 7px solid;
      border-image: linear-gradient(120deg, #ED0233 0%, #003EB7 100%) 1;
      background: none;
    }

    &:hover .tabs__element-item-button-wrapper {
      background: linear-gradient(151deg, #ED0233 0%, #003EB7 100%);
      border: none;
      width: 205px;
      height: 64px;
    }

    &:hover .tabs__element-item-button {
      color: #ffffff;
    }

    &:not(:last-child) {
      margin-right: 40px;
    }
  }

  .tabs__element-item-button:active {
    opacity: 0.6;
  }

  .tabs__control {
    font-size: 20px;
    line-height: 30px;

    &:hover {
      opacity: 1;
    }
  }

  .tabs__control:not(:last-child) {
    margin-right: 44px;
  }

  .tabs__controls {
    &::before {
      content: "";
      width: 341px;
      left: 410px;
      top: 51px;
    }
  }

  .tabs__element-list--current {
    &::after {
      width: 66px;
      left: 409px;
      top: -10px;
    }
  }

  .tabs__element-list--current-two {
    &::after {
      width: 87px;
      left: 522px;
      top: -10px;
    }
  }

  .tabs__element-list--current-three {
    &::after {
      width: 92px;
      left: 658px;
      top: -10px;
    }
  }

  .tabs__element-item-decoration-price {
    left: 90px;
  }

  .tabs__element-item-decoration-price--position-left {
    left: 60px;
  }
}
