.trainers {
  width: 226px;
  margin: 0 auto;
  margin-bottom: 65px;
  position: relative;
}

.trainers__title {
  font-family: $alumni-sans-font;
  font-size: 33px;
  line-height: 38px;
  font-weight: 600;
  text-align: center;
  margin-top: 0;
  margin-bottom: 42px;
}

.trainers__slider-image-content {
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: #ffffff;
  position: absolute;
  bottom: 23px;
  left: 48px;
}

.trainers__slider-image {
  position: relative;
}

.trainers__slider-image img {
  display: block;
  background-color: #bbbaba;
}

.trainers__slider--three {
  position: relative;

  &:hover .trainers__slider-three-wrapper-decoration {
    z-index: 1;
  }

  &:hover .trainers__slider--three-image-content {
    z-index: -1;
  }
}

.trainers__slider-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.trainers__slaider-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.trainers__slider-button {
  padding: 0;
  margin: 0;
  border: 0;
  border-radius: 50%;
  width: 35px;
  height: 34px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}

.trainers__slider-button-prev,
.trainers__slider-button-next {
  stroke: #102654;
}


.trainers__slider-button--prev {
  position: absolute;
  left: -45px;
  top: 200px;
}

.trainers__slider-button--next {
  position: absolute;
  right: -45px;
  top: 200px;
}

.trainers__slider-three-wrapper-decoration {
  background-color: rgba(20, 54, 122, 0.7);
  width: 159px;
  height: 178px;
  padding: 48px 34px 48px 33px;
  text-align: center;
  position: absolute;
  z-index: -1;
}

.trainers__slider-three-wrapper-decoration-content {
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
}

.trainers__slider-three-wrapper-decoration-badge {
  font-weight: 400;
  color: #ffffff;
}

.trainers__slider-three-wrapper-decoration-list {
  margin-top: 25px;
}

.trainers__slider-three-wrapper-decoration-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  text-align: left;
  margin-left: 16px;
  position: relative;

  &:not(:last-child) {
    margin-bottom: 13px;
  }

  &::before {
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #ffffff;
    position: absolute;
    left: -17px;
    bottom: 10px;
  }
}

.trainers__slider-three-wrapper-decoration-item--decoration-top {
  &::before {
    content: "";
    bottom: 30px;
  }
}

@media screen and (min-width: $vp-768) {
  .trainers {
    width: 566px;
    margin: 0 auto;
    margin-bottom: 94px;
  }

  .trainers__title {
    font-size: 44px;
    line-height: 50px;
    margin-bottom: 31px;
  }

  .trainers__slider-image-content {
    left: 85px;
  }

  .trainers__slider-three-wrapper-decoration {
    width: 159px;
    height: 177px;
    padding: 57px 54px 58px 55px;
  }

  .trainers__slider-button-prev,
  .trainers__slider-button-next {
    width: 16px;
    height: 32px;
  }

  .trainers__slider-button--prev {
    position: absolute;
    left: -71px;
    top: 205px;
  }

  .trainers__slider-button--next {
    position: absolute;
    right: -71px;
    top: 205px;
  }

  .trainers__slider-button {
    width: 47px;
    height: 47px;
  }

  .trainers__slider-three-wrapper-decoration-content {
    line-height: 0px;
  }

}

@media screen and (min-width: $vp-1200) {
  .trainers {
    width: 1160px;
    margin: 0 auto;
    margin-bottom: 98px;
  }

  .trainers__title {
    font-size: 58px;
    line-height: 65px;
    margin-bottom: 48px;
    text-align: left;
    margin-left: 3px;
  }

  .trainers__slider-image-content {
    left: 74px;
  }

  .trainers__slider-three-wrapper-decoration {
    background-color: rgba(20, 54, 122, 0.7);
    width: 151px;
    height: 179px;
  }

  .trainers__slider--three {
    cursor: pointer;

    &:focus .trainers__slider-three-wrapper-decoration {
      z-index: 1;
    }

    &:focus .trainers__slider--three-image-content {
      z-index: -1;
    }
  }

  .trainers__slider-three-wrapper-decoration-item {
    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }

  .trainers__slaider-wrapper {
    width: 1160px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .trainers__slider-button {
    width: 56px;
    height: 56px;
    border-radius: 50%;

    &:hover {
      border: 1px solid #102654;
    }

    &:focus {
      outline: none;
    }

    &:focus-visible {
      border: 1px solid #102654;
    }

    &:active {
      background-color: #102654;

      .trainers__slider-button-prev,
      .trainers__slider-button-next {
        stroke: #ffffff;
      }
    }
  }

  .trainers__slider-button--prev {
    position: absolute;
    left: -77px;
    top: 232px;
  }

  .trainers__slider-button--next {
    position: absolute;
    right: -77px;
    top: 232px;
  }
}
