@font-face {
  font-family: "Alumni Sans";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/AlumniSans/AlumniSans-600.woff2") format("woff2"), url("../fonts/AlumniSans/AlumniSans-600.woff") format("woff");
}

@font-face {
  font-family: "Alumni Sans";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("../fonts/AlumniSans/AlumniSans-800.woff2") format("woff2"), url("../fonts/AlumniSans/AlumniSans-800.woff") format("woff");
}

@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/RobotoCondensed/RobotoCondensed-300.woff2") format("woff2"), url("../fonts/RobotoCondensed/RobotoCondensed-300.woff") format("woff");
}

@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/RobotoCondensed/RobotoCondensed-400.woff2") format("woff2"), url("../fonts/RobotoCondensed/RobotoCondensed-400.woff") format("woff");
}

@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/RobotoCondensed/RobotoCondensed-700.woff2") format("woff2"), url("../fonts/RobotoCondensed/RobotoCondensed-700.woff") format("woff");
}
