body {
  font-family: $base-font;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
  color: $base-color;
  display: flex;
  flex-direction: column;

  .header, .footer {
    flex-shrink: 0;
  }

  main {
    flex-grow: 1;
  }
}
